<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Irwing Naranjo - Portfolio</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="skeleton-loader.css">
</head>
<body>
  <div class="wrapper">

    <header id="header" class="flex-row">
      <div class="logo">
        <h1>Irwing Naranjo</h1>
      </div>
      <div id="dark-mode" class="dark-mode">
        <i class="fa fa-moon"></i>
      </div>
    </header>

    <section id="banner" class="flex-row banner">
      <div class="container">
        <div id="banner-photo">
          <img src="https://avatars.githubusercontent.com/u/499907?v=4" alt="Photo Irwing Naranjo">
        </div>
        <div id="banner-content">
          <p class="bio">
            Web technologies development professional <br>
            ☕ turning coffee into code 📚 studying more every day
          </p>
          <p class="contact-info">
            Phone: <a href="tel:">+56 (9) 3726 3654</a> <br>
            Email: <a href="khalisser@gmail.com">khalisser@gmail.com</a> <br>
          </p>
          <div class="counters">
            <div class="counter">
              <i class="fa-brands fa-github"></i>
              <span>
                <span class="number">0</span>
                <span title="github projects">projects</span>
              </span>
            </div>
            <div class="counter" id="counter-courses">
              <i class="fa fa-school"></i>
              <span>
                <span class="number">0</span>
                <span title="platzi courses">courses</span>
              </span>
            </div>
            <div class="counter">
              <i class="fa fa-book"></i>
              <span>
                <span class="number">0</span>
                <span title="read books">books</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="github-projects" class="flex-row view-list">
      <h3>
        <i class="fa-brands fa-github"></i>
        i'm working on ...
      </h3>
      <div id="projects" class="list">
        <div class="project item">
          <h3 class="name"><a href="#">Github Project 1</a></h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum expedita blanditiis quam, error </p>
          <div class="info">
            <span class="badge">PHP</span>
            <p>Created at: <span class="created-at">2/16/2022</span></p>
          </div>
        </div>
        <div class="project item">
          <h3 class="name"><a href="#">Github Project 2</a></h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum expedita blanditiis quam, error </p>
          <div class="info">
            <span class="badge">PHP</span>
            <p>Created at: <span class="created-at">2/16/2022</span></p>
          </div>
        </div>
        <div class="project item">
          <h3 class="name"><a href="#">Github Project 3</a></h3>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum expedita blanditiis quam, error </p>
          <div class="info">
            <span class="badge">PHP</span>
            <p>Created at: <span class="created-at">2/16/2022</span></p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="platzi-courses" class="flex-row view-list">
      <h3>
        <img src="https://static.platzi.com/media/achievements/platzi-bd.png" alt="Icon Platzi">
        I learned a bit of platzi
      </h3>
      <div id="courses" class="list">
        <div class="sk--wrapper">
          <div class="sk--col sk--img">
            <img class="sk--img-graphic skeleton-loader" />
          </div>
          <div class="sk--col sk--details">
            <div class="sk--row sk--name">
              <span class="sk--name-text skeleton-loader"></span>
            </div>
            <div class="sk--row sk--description">
              <span class="sk--description-text skeleton-loader"></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <p>
        &copy; Irwing Naranjo - <span id="date"></span>
      </p>
    </footer>
  </div>
  <script src="app.js"></script>
</body>
</html>
